/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */
.dark-gray {
  color: #3a3a3a;
}
.btn-primary {
  color: white;
  padding: 10px 25px;
  font-weight: bold;
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

/* Navbar Section Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  font-size: 1.5rem;
}
.links {
  display: flex;
  gap: 30px;
}
.link-item {
  list-style: none;
}
.link {
  text-decoration: none;
  font-weight: 600;
}

/* Banner Section Styles */
.banner {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  font-size: 3.25rem;
  margin-bottom: 16px;
}
.banner-description {
  font-weight: 600;
  max-width: 505px;
  margin-top: 0;
  margin-bottom: 25px;
}
.banner-image-container {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Sponsors Section Styles */
.sponsors {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
  padding: 20px;
  max-width: 1110px;
  margin-left: 110px;
}

/* Collection Section Styles */
.collection {
  max-width: 1047px;
  margin: 100px auto 0;
}
.collection-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
}
.collection-card-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.collection-card {
  padding: 18px 15px;
  box-shadow: 0px 0px 14px 2px rgb(153 140 140 / 26%);
  border-radius: 5px;
}
.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: #18191f;
  font-family: poppins;
  margin-bottom: 6px;
}
.card-price {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  font-family: inter;
  margin-top: 0;
  margin-bottom: 5px;
}
.rating-container {
  margin-top: 15px;
}
.rating-container span {
  font-size: 0.875rem;
  font-family: roboto;
  color: #5e6366;
}
.card-description {
  font-size: 0.875rem;
  font-family: inter;
  font-weight: bold;
  color: #787885;
  margin-top: 5px;
}
.more {
  text-align: right;
  color: rgba(224, 44, 109, 0.87);
  font-weight: bold;
  margin-top: 50px;
}

/* Small Devices */
@media screen and (max-width: 576px) {
  .navbar,
  .links,
  .banner {
    flex-direction: column;
  }
  .banner {
    padding: 20px;
  }
  .banner-image-container {
    margin-top: 40px;
  }
  .banner-img {
    width: 100%;
  }
  hr {
    display: none;
  }

  .sponsors {
    margin-left: 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .sponsors img {
    width: 100%;
  }

  .collection-card-container {
    grid-template-columns: 1fr;
  }
  .card-img{
    width: 100%;
  }
}

/* Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar {
    margin: 0 20px;
  }
  .banner {
    margin-top: 0;
    padding: 20px;
  }

  .banner-img {
    width: 100%;
  }
  .sponsors {
    margin: 0 40px;
    padding: 10px;

    gap: 30px;
  }
  .sponsors img {
    width: 100%;
  }
  .collection-card-container {
    grid-template-columns: repeat(1,1fr)
  }
  .card-img{
    width: 100%;
  }

}
